.vs/
*.user
*.suo
*.vcxproj.user
*.pdb
*.obj
*.exe
*.dll
*.cache
*.csproj.user
.aps

Ignore build output folders
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease*/

Ignore NuGet packages folder
packages/
.nupkg
project.lock.json
project.fragment.lock.json

Ignore publish output
publish/

Ignore Resharper files
_ReSharper/
*.DotSettings.user

Ignore Rider files
.idea/
*.sln.iml

Ignore temporary files and logs
*.log
*.tmp
*.temp
*.bak
*.swp
*.sln.docstates

Ignore macOS specific files
.DS_Store

Ignore Windows specific files
Thumbs.db
desktop.ini
``
Ignore Program files
/StudentHousingBV/bin/Debug/net8.0-windows/StudentHousingBV.dll
/StudentHousingBV/bin/Debug/net8.0-windows/StudentHousingBV.exe
/StudentHousingBV/bin/Debug/net8.0-windows/StudentHousingBV.pdb
/StudentHousingBV/obj/Debug/net8.0-windows/ref/StudentHousingBV.dll
/StudentHousingBV/obj/Debug/net8.0-windows/refint/StudentHousingBV.dll
/StudentHousingBV/obj/Debug/net8.0-windows/apphost.exe
/StudentHousingBV/obj/Debug/net8.0-windows/StudentHousingBV.AssemblyInfo.cs
/StudentHousingBV/obj/Debug/net8.0-windows/StudentHousingBV.AssemblyInfoInputs.cache
/StudentHousingBV/obj/Debug/net8.0-windows/StudentHousingBV.csproj.CoreCompileInputs.cache
/StudentHousingBV/obj/Debug/net8.0-windows/StudentHousingBV.csproj.FileListAbsolute.txt
/StudentHousingBV/obj/Debug/net8.0-windows/StudentHousingBV.csproj.GenerateResource.cache
/StudentHousingBV/obj/Debug/net8.0-windows/StudentHousingBV.dll
/StudentHousingBV/obj/Debug/net8.0-windows/StudentHousingBV.Form1.resources
/StudentHousingBV/obj/Debug/net8.0-windows/StudentHousingBV.pdb
/StudentHousingBV/obj/Debug/net8.0-windows/StudentHousingBV.sourcelink.json
